<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!--
http://localhost:8080/web/board

CREATE TABLE `tb_reply` (
  `idx` INT NOT NULL AUTO_INCREMENT,
  `board_idx` INT,
  `reply_idx` INT,
  `contents` TEXT NULL,
  PRIMARY KEY (`idx`));

CREATE TABLE `tb_board` (
  `idx` INT NOT NULL AUTO_INCREMENT,
  `title` VARCHAR(255) NULL,
  `contents` TEXT NULL,
  `image` VARCHAR(255) NULL,
  PRIMARY KEY (`idx`));
 -->
<mapper namespace="com.example.demo.dao.TestMapper">
    <select id="boardCount" resultType="int">
        select count(*) from board
    </select>

    <select id="boardList" resultType="com.example.demo.domain.BoardVO">
        SELECT
            *
        FROM BOARD
    </select>

    <select id="boardDetail" parameterType="int" resultType="com.example.demo.domain.BoardVO">
        SELECT
            *
        FROM BOARD
        WHERE
            BNO = #{bno}
    </select>

    <insert id="boardInsert" parameterType="com.example.demo.domain.BoardVO" useGeneratedKeys="true" keyProperty="bno">
        INSERT INTO
            BOARD (SUBJECT,CONTENT,WRITER,REG_DATE)
        VALUES(#{subject},#{content},#{writer},now())
    </insert>

    <insert id="fileInsert" parameterType="com.example.demo.domain.FileVO">
        INSERT INTO
            FILES (BNO, FILENAME, FILEORINAME, FILEURL)
        VALUES (#{bno},#{fileName},#{fileOriName},#{fileUrl})
    </insert>

    <select id="fileDetail" parameterType="int" resultType="com.example.demo.domain.FileVO">
        SELECT
            *
        FROM Files
        WHERE
            BNO = #{bno}
    </select>


    <update id="boardUpdate" parameterType="com.example.demo.domain.BoardVO">
        UPDATE BOARD
        SET
        <if test="subject != null">
            SUBJECT = #{subject}
        </if>
        <if test="subject != null and content != null"> , </if>
        <if test="content != null">
            CONTENT = #{content}
        </if>
        WHERE BNO = #{bno}
    </update>

    <delete id="boardDelete" parameterType="int">
        DELETE FROM BOARD WHERE BNO = #{bno}
    </delete>


</mapper>